body {
  padding: 3rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txt {
  margin-top: 2%;
  font-size: 2rem;
}

img {
  max-height: 75%;
  max-width: 75%;
  margin-top: 3%;
  margin-left: 3%;
}